/* Reset CSS */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/*
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
*/

/*
1. Vị trí
2. Kích thước
3. Màu sắc 
4. Kiểu dáng( kiểu chữ,hình dáng,.....)
*/

.clear{
    clear: both;
}
.text-white{
    color:white !important;
}
html{
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#main{
    color: white;

}

/* COMMON */
.col{
    float:left;
    padding-left: 8px;
    padding-right: 8px;

}
.col-full{
    width:100%;
}
.row{
    margin-left: 0px;
    margin-right: 0px;
}
.col-half{
    width: 50%;
}
.mt-8{
    margin-top: 8px !important;

}
.mt-16{
    margin-top: 16px;
    margin-right:8px;
    margin-bottom: 164px;
}
.btn{
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 11px 18px;
    margin-top:15px;
    margin-bottom: 5px;
    display:inline-block;

}
.btn:hover{
    cursor: pointer;
    color:black;
    background-color: #757575;
}
.pull-right{
    float: right;
    border:none;
}
/* MAIN */

/*--------------Header-------------------*/
#header{
    background-color: black;
    height:60px;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1;

}
/*------------Navigation---------------------*/
#nav{
    display: inline-block;
}
#nav, .subnav{
    list-style-type: none;

}
#nav > li {
    display: inline-block;
}
#nav li {
    position: relative;
}
#nav > li > a {
    color: white;
    text-transform: uppercase;
    text-shadow: 1cm;
}
#nav li a{
    display: inline-block;
    
    text-decoration: none;
    line-height: 50px;
    padding: 5px 30px;
    font-size: 19px;
    position: relative;
}

#nav > li:hover > a,
#nav .subnav li:hover a{
    color: black;
    background-color: rgb(119, 114, 114);
}
#nav li:hover .subnav{
    display: block;
}
#nav .subnav{
    display: none; 
    min-width: 165px;
    position:absolute;
    background-color: white;
    box-shadow: 0 0 10px rgb(0,0,1);
    top:100%;
    left:0;
}
#nav .subnav a{
    color: black;
    display: block;
    padding: 0 24px;
    line-height:38px;
}
#nav .nav-arrow-down{
    font-size: 10px;
    position: relative;
}

/*-----------End Navigation----------------*/
/* search-botton */
#header .search-btn{
        float: right;
        padding: 22px 28px;
        cursor:pointer;
}
#header .search-btn:hover{
    background-color: red;
    line-height: 100%;

    
}
#header #search-icon{
    color:#fff;
    font-size:20px;
    line-height: 50px;
    display:inline-block;

}
/* End search-botton */
#content{
    width: 100%;
    height: 100%;
}
/* Header search */
#slider {
    position:relative;
    margin-top: 60px;
    padding-top:50%;
    background: url('/assets/img/NewYorkCity.jpg') top center / cover no-repeat;
}
#slider .text-content{
    position:absolute;
    color:rgb(234, 227, 227);
    bottom:130px;
    width:100%;
    /* có thể thay thế width:100% bằng left:0;right:0; */
    text-align: center;
}
#slider .text-heading{
    font-weight:500;
    font-size:24px;
    margin-bottom: 10px;
}
#slider .text-discription{
    font-size:15px;
    margin-top:15px;
}
#content .content-section{
    color:black;
    width:70%;
    padding:64px 0;
    margin-left: auto;
    margin-right:auto;

}
#content .section-heading{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500px;
    letter-spacing: 4px;
    text-align: center;
}
#content .section-sub-heading{
    font-size:15px;
    margin-top:25px;
    text-align: center;
    font-style:italic;
    opacity:60%;
}
#content .section-discription{
    margin-top:25px;
    font-size:14px;
    line-height: 1.4;
}
#content .member-list{
    margin-top: 50px;
}
#content .member-name{
    font-size:18px;
    /* font-weight: 500; */
    font-style:oblique;
}
#content .member-items{
    float: left;
    width: calc(100%/3);
    text-align: center;
}
#content .member-img{
    
    margin-top: 15px;
    border-radius: 4px;
    width: 70%;
    margin-bottom: 30px;
}
/* tour section */
.tour-section{
    background-color: black;
    color:white;
}
.tickets-list{
    background-color: #fff;
    margin: 40px 11px;
}
.tickets-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}
.tickets-list .sold-out{
    padding: 4px;
    font-size: 14px;
    background-color: rgb(174, 16, 16);
    margin-left: 16px;;

}
.tickets-list .quantity{
    color: rgb(234, 227, 227);
    border-radius: 50%;
    float: right;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
    background-color: black;
}
/* ----------------PLACE LIST ----------------*/
.place-list{

    margin-top: 32px;
}
.place-item{
    width: 33.3333333%;
    float: left;
    padding: 0 8px;
}
.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-content{
    background-color: #fff;
    font-size: 15px; 
    padding: 16px;
}
.place-heading{
    font-size: 15px;
    font-weight:500;
}
.place-time{
    margin-top:10px; 
    margin-bottom: 15px;;
    
    line-height: 1.4;
    color:#757575;
}
.place-dis{
    line-height: 1.4;
}
/* BUY TICKETS JS */
/* contact */
.contact-content{
    margin-top: 48px;
    margin-bottom: 48px;
}

.contact-info i[class*="ti-"]{
    width :30px;
    display: inline-block;
}
.contact-info{
    font-size: 20px;
    line-height: 1.5;
    font-weight: 480;
    
}
.contact-form{
    font-size:15px;
}
.contact-form .form-control{
    padding:10px;
    border: 1px solid #ccc;
    width:100%;
    height: 60px;
    outline: none;
}
/* ==============     FOOTER         =================== */
#footer{
    margin-top: 218px;
    padding-top: 20px; 
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    height: 100%;
    background-color: black;
}
#footer .social-lists a{
    color: rgb(251, 249, 249);
    text-decoration: none;

}
.copyright{
    font-size: 18px;
    text-transform: uppercase;

}
.social-lists{
    font-size: 20px;
    padding-right: 4px;
    margin: 0px 333px;

}
#footer p a{
    color: #fff;
}
#footer img{
    width: 95px;
    height: 129px;
}
